/* Botón switch Sign In / Sign Up */
.switch_process p {
    user-select: none;
    color: #fff;
    font-size: 0.9rem;
    font-family: "Alan Sans", Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-align: right;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
    transition: background 0.3s, color 0.3s, border-radius 0.3s;
    align-self: flex-end;
    z-index: 3;
    transition: all 0.3s ease;
}

.switch_label.hide {
    opacity: 0;
    visibility: hidden;
}

.icon_switch {
    background-color: transparent;
    border: 3px solid #3498db;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.icon_switch:hover {
    background-color: #3498db;
    animation: rotate 0.5s linear;

}

.icon_switch:active {
    transform: scale(0.85);
    animation: rotate 0.5s linear;
}

.switch_process button img {
    width: 30px;
    height: 30px;
}

/* Botón enviar formulario */
.login_form .sendBtn {
    background-color: #0e0e14;
    border: 2px solid #3498db;
    border-radius: 8px;
    color: #fff;
    font-size: 1.2rem;
    font-family: "Alan Sans", Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    height: 45px;
    width: 150px;
    transition: background 0.3s, color 0.3s, border-radius 0.3s;
}

.login_form .sendBtn:hover {
    background-color: #2980b9;
    color: #0e0e14;
    border-radius: 12px;
}