/* === React Datepicker (tema oscuro estilo póker) === */
.react-datepicker {
    background-color: #0e0e14 !important;
    border: 3px solid #3498db !important;
    color: #fff !important;
    border-radius: 20px;
    font-family: "Alan Sans", Arial, sans-serif;
    z-index: 10050 !important;
    /* por si no usas portal */
}

.react-datepicker__header {
    background-color: #111 !important;
    border-bottom: 1px solid #3498db;
    color: #ffffff !important;
    padding: 6px 8px !important;
    /* menos espacio */
    min-height: unset !important;
    border-radius: 20px 20px 0px 0px !important;
}

/* Mes/Año arriba */
.react-datepicker__current-month {
    font-size: 1.3rem !important;
    margin: 0 28px !important;
    text-align: center !important;
    color: #ffffff !important;
}

.react-datepicker__day {
    color: #fff !important;
    font-size: 1rem !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
    background-color: #e74c3c !important;
    /* Rojo casino */
    color: #fff !important;
    border-radius: 50%;
}

.react-datepicker__day:hover {
    background-color: #333 !important;
    border-radius: 50%;
}

.react-datepicker__day-name {
    color: #ffffff !important;
    font-weight: bold !important;
    font-size: 1rem !important;
}

.react-datepicker__day--outside-month {
    color: #555 !important;
}

/* === Navegación más pequeña === */
.react-datepicker__navigation {
    top: 8px !important;
    width: 18px !important;
    height: 18px !important;
    line-height: 18px !important;
    border: none !important;
    outline: none !important;
}

.react-datepicker__navigation--previous {
    left: 6px !important;
}

.react-datepicker__navigation--next {
    right: 6px !important;
}

.react-datepicker__navigation-icon::before {
    width: 7px !important;
    height: 7px !important;
    border-width: 2px 2px 0 0 !important;
    border-color: #ffffff !important;
}

.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow {
    width: 7px !important;
    height: 7px !important;
    border-width: 2px 2px 0 0 !important;
    border-color: #ffffff !important;
    margin-top: 0 !important;
}

.react-datepicker__year-read-view--selected-year {
    font-family: 'Alan Sans', Arial, sans-serif;
    font-size: 1.1rem;
}

.react-datepicker__year-option {
    color: black;
    font-family: 'Alan Sans', Arial, sans-serif;
    font-size: 0.9rem;
}

/* Asegura que el popper flote por encima de paneles transformados */
.react-datepicker-popper {
    z-index: 10050 !important;
}