/* contenedor con perspectiva 3D */
.community-card-wrapper {
    perspective: 800px;
    display: inline-block;
}

.community-card {
    width: 4.5vw; /* 12% del ancho del viewport */
    max-width: 75px; /* límite en pantallas grandes */
    height: auto;
    backface-visibility: hidden;
    transform-origin: center;
}

/* cuando se activa el flip */
.community-card-wrapper.is-flipping .community-card {
    animation: card-flip 0.3s linear;
}

@keyframes card-flip {
    0% {
        transform: rotateY(0deg);
    }

    49% {
        transform: rotateY(90deg);
        /* carta casi de canto */
    }

    51% {
        transform: rotateY(90deg);
        /* aquí ya cambiamos la imagen en React */
    }

    100% {
        transform: rotateY(0deg);
        /* vuelve a quedar de frente */
    }
}
